@for $i from 0 through 20 {
  .m-#{$i} {
    margin: #{0.25 * $i}rem;
  }

  .mx-#{$i} {
    margin-left: #{0.25 * $i}rem;
    margin-right: #{0.25 * $i}rem;
  }

  .my-#{$i} {
    margin-top: #{0.25 * $i}rem;
    margin-bottom: #{0.25 * $i}rem;
  }

  .mt-#{$i} {
    margin-top: #{0.25 * $i}rem;
  }

  .mr-#{$i} {
    margin-right: #{0.25 * $i}rem;
  }

  .mb-#{$i} {
    margin-bottom: #{0.25 * $i}rem;
  }

  .ml-#{$i} {
    margin-left: #{0.25 * $i}rem;
  }
}

@for $i from 0 through 20 {
  .p-#{$i} {
    padding: #{0.25 * $i}rem;
  }

  .px-#{$i} {
    padding-left: #{0.25 * $i}rem;
    padding-right: #{0.25 * $i}rem;
  }

  .py-#{$i} {
    padding-top: #{0.25 * $i}rem;
    padding-bottom: #{0.25 * $i}rem;
  }

  .pt-#{$i} {
    padding-top: #{0.25 * $i}rem;
  }

  .pr-#{$i} {
    padding-right: #{0.25 * $i}rem;
  }

  .pb-#{$i} {
    padding-bottom: #{0.25 * $i}rem;
  }

  .pl-#{$i} {
    padding-left: #{0.25 * $i}rem;
  }
}
