<form *ngIf="note" [formGroup]="noteForm">
  <div fxLayout="column" fxLayoutGap="2rem">
    <div fxLayout="row">
      <mat-form-field fxFlex>
        <mat-label>Body</mat-label>
        <textarea
          #body
          rows="4"
          formControlName="body"
          matInput
          [maxLength]="bodyMaxLength"
        ></textarea>
        <mat-hint align="end">
          {{ body.value?.length || 0 }} / {{ bodyMaxLength }}
        </mat-hint>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
      <app-color-picker
        formControlName="color"
        [colors]="colors"
      ></app-color-picker>
    </div>

    <div fxLayout="column">
      <h2>Todos</h2>
      <mat-list fxFlex>
        <app-todo-item
          *ngFor="let todo of note.todos.value"
          [todo]="todo"
        ></app-todo-item>
      </mat-list>
    </div>

    <div fxLayout="row">
      <button type="button" color="primary" mat-raised-button>
        {{ 'Save' | uppercase }}
      </button>
    </div>
  </div>
</form>
