<form [formGroup]="noteForm.asFormGroup" (ngSubmit)="noteForm.save()">
  <div fxLayout="column" fxLayoutGap="2rem">
    <div fxLayout="row">
      <mat-form-field fxFlex>
        <mat-label>Body</mat-label>
        <textarea
          #body
          rows="4"
          formControlName="body"
          matInput
          [maxLength]="bodyMaxLength"
        ></textarea>
        <mat-hint align="end">
          {{ body.value?.length || 0 }} / {{ bodyMaxLength }}
        </mat-hint>
        <mat-error>Required field</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
      <app-color-picker
        formControlName="color"
        [colors]="colors"
      ></app-color-picker>
    </div>

    <div fxLayout="column">
      <h2>Todos</h2>
      <mat-list fxFlex formArrayName="todos">
        <ng-container *ngFor="let todo of noteForm.todos.controls; index as i">
          <app-todo-item
            [todo]="todo.value"
            [formControlName]="i"
            (todoRemove)="noteForm.removeTodoAt(i)"
          ></app-todo-item>
        </ng-container>

        <mat-error *ngIf="noteForm.todos.errors">
          You cannot add more than 3 todos
        </mat-error>
      </mat-list>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between">
      <button
        type="button"
        color="accent"
        mat-raised-button
        (click)="noteForm.addTodo()"
      >
        {{ 'Add Todo' | uppercase }}
      </button>

      <div fxLayout="row" fxLayoutGap="1rem">
        <button
          type="button"
          color="warn"
          mat-raised-button
          (click)="noteForm.cancel()"
        >
          {{ 'Cancel' | uppercase }}
        </button>

        <button type="submit" color="primary" mat-raised-button>
          {{ 'Save' | uppercase }}
        </button>
      </div>
    </div>
  </div>
</form>
