<mat-card fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem">
  <mat-card-header>
    <mat-card-title>Angular Todo List</mat-card-title>
  </mat-card-header>

  <mat-card-content fxFill>
    <form
      [formGroup]="signInForm.asFormGroup"
      [appLoading]="isSubmitting"
      (keyup.enter)="signInForm.signIn()"
    >
      <mat-form-field appearance="outline" fxFill>
        <mat-label>Email address</mat-label>
        <input type="text" formControlName="emailAddress" matInput />
        <mat-error>Invalid email address</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFill>
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password" matInput />
        <mat-error>Password too short</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions fxFill>
    <div fxLayout="row" fxLayoutGap="1rem">
      <button
        type="button"
        color="primary"
        mat-raised-button
        fxFlex
        (click)="signInForm.signIn()"
      >
        {{ 'Sign in' | uppercase }}
      </button>

      <button
        type="button"
        color="warn"
        mat-raised-button
        fxFlex
        (click)="signInForm.register()"
      >
        {{ 'Register' | uppercase }}
      </button>
    </div>

    <div class="my-3" fxLayout="row">
      <button
        type="button"
        mat-raised-button
        fxFlex
        (click)="signInForm.signInWithGoogle()"
      >
        {{ 'Sign in with Google' | uppercase }}
      </button>
    </div>
  </mat-card-actions>
</mat-card>
