<mat-list-item>
  <mat-checkbox [checked]="todo.done"></mat-checkbox>
  <mat-form-field fxFlex>
    <input
      #name
      type="text"
      placeholder="Name"
      matInput
      [value]="todo.name.value"
      [maxLength]="nameMaxLength"
    />
    <mat-hint align="end">
      {{ name.value?.length || 0 }} / {{ nameMaxLength }}
    </mat-hint>
  </mat-form-field>

  <div fxLayout="row">
    <button mat-icon-button color="warn" (click)="onRemoveClick()">
      <mat-icon>remove_circle</mat-icon>
    </button>
  </div>
</mat-list-item>
